

<%- include('_header') %>

<div class="container my-5">
    <h2>Payment Link</h2>
    <p>Thank you for choosing our services. Below is your payment link:</p>

    <div class="input-group mb-3">
        <input id="paymentLinkInput" type="text" class="form-control" value="<%= paymentLink %>" readonly>
        <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard()">Copy</button>
    </div>

    <p>Click the 'Copy' button to copy the payment link to your clipboard.</p>

</div>

<%- include('_footer') %>

<script>
    function copyToClipboard() {
        
        var copyText = document.getElementById("paymentLinkInput");


        copyText.select();
        copyText.setSelectionRange(0, 99999); 

        document.execCommand("copy");

  
        alert("Copied the payment link: " + copyText.value);
    }
</script>
