<%- include('_header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How It Works</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="mt-5">How It Works</h1>
                <p class="lead">Understanding FlexiPay's Functionality</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <p>FlexiPay simplifies the process of creating payment links for your clients/customers, facilitating one-off payments via various payment methods. It also serves as an effective payment management system, allowing you to monitor successful payments, filter clients, track attempted payments, and analyse payment trends.</p>
            </div>
            <div class="col-md-6">
                <p>FlexiPay partners with Stripe, a prominent payment gateway provider, to offer these functionalities. Typically, integrating with Stripe independently would require hiring a professional developer to build a custom website. By utilising FlexiPay, you can avoid these expenses and provide seamless payment solutions to your clients.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <p>To begin using FlexiPay, you'll first need to sign up for a Stripe account and obtain your organization's unique payment key. This ensures the security and isolation of your payments. After registering, you'll receive both a publishable key and a secret key. It's essential to protect your secret key and refrain from sharing it. Once you have the publishable key, you can effortlessly integrate your account with FlexiPay using our straightforward registration form.</p>
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <a href="api/register-organisation" class="btn btn-primary btn-lg">Ready to Register</a> <!-- Large button link -->
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>
<%- include('_footer') %>
