<%- include('_header.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Register Your Organisation</title>
</head>
<body>
    <div class="container my-5"> <!-- Added my-5 class for top and bottom margin -->
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Register Your Organisation</h1>
                <form action="/api/organisations" method="POST">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="stripePublicKey">Stripe Public Key:</label>
                        <input type="text" id="stripePublicKey" name="stripePublicKey" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="stripeSecretKey">Stripe Secret Key:</label>
                        <input type="text" id="stripeSecretKey" name="stripeSecretKey" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('_footer') %>
</body>
</html>

